@import 'rfs/scss';
// .rapidbackground {
//     position: relative;
//     overflow-x: auto !important;

//     &::before {
//         content:"";
//         position: absolute;
//         width: 811.8px;
//         height: 876.066px;
//         background: url('/images/icons/vector-3.svg');
//         background-repeat: no-repeat;
//         background-size: contain;
//         bottom: 0px;

//     }
// }

.fontSizeHeading {
  @media (min-width: 1921px) {
    font-size: 60px;
  }
}

.heading {
  font-size: 56px;

  @media (max-width: 1500px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }
}