@import '@/styles/theme';

.paragraph {
  color: var(--blue-11);
  line-height: 26px;

  letter-spacing: -0.54px;

  &[data-variant='sm'] {
    font-size: 17px;

    @media (max-width: 1500px) {
      font-size: 15px;
    }
  }

  &[data-variant='md'] {
    font-size: clamp(15px, 4vw, 19px);
    line-height: 26px;
  }

  @media (max-width: 1500px) {
    br {
      display: none !important;
    }
  }
}
