@import '@/styles/theme';

.linkTag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
  color: var(--blue-11);
  font-weight: 700;
  font-size: clamp(16px, 4vw, 25px);

  svg {
    position: relative;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    opacity: 0.9;
    color: var(--blue-11) !important;

    svg {
      transform: translateX(8px);
      opacity: 0.9;

      path {
        fill: var(--blue-11);
      }
    }
  }
}
