@import '@/styles/responsive';

.RapidPayment {
  // max-width: 86%;
  // margin: 0 auto;
  background-color: #ecf5ff;

  // @include respond-to('xxl') {
  //     max-width: 90%;
  // }

  overflow: hidden !important;
}

.paymentUniversityCard {
  img {
    border-radius: 30px;
    height: 360px;
    object-fit: cover;
  }
}
