@import "@/styles/responsive";

.RapidPayment {
    // max-width: 86%;
    // margin: 0 auto;
    background-color: #ECF5FF;

    // @include respond-to('xxl') {
    //     max-width: 90%;
    // }

    overflow: hidden !important;

}


.paymentUniversityCard {
    img {
        height: 360px;
        object-fit: cover;
        border-radius: 30px;
    }
}