@import '@/styles/responsive';

.RapidPayment {
  // max-width: 86%;
  // margin: 0 auto;
  background-color: rgba(255, 31, 62, 0.07);

  // @include respond-to('xxl') {
  //     max-width: 90%;
  // }

  overflow: hidden !important;
}

.paymentUniversityCard {
  img {
    border-radius: 30px;
    height: 360px;
    object-fit: cover;
  }
}

.CardTitle {
  font-size: 30px;
}