@import './responsive';
@import 'rfs/scss';

.heading-large {
  font-size: clamp(24px, 3vw, 76px) !important;
}

.heading-1 {
  font-weight: 300;
  font-size: clamp(36px, 4vw, 66px);
}

.heading-2 {
  font-size: clamp(32px, 4.5vw, 60px);
}

.heading-3 {
  font-size: clamp(28px, 4vw, 56px);

  @media (max-width: 1500px) {
    font-size: clamp(28px, 4vw, 50px);
  }
}

.heading-4 {
  font-size: clamp(17px, 2.5vw, 30px);
}

.heading-5 {
  font-size: clamp(16px, 2vw, 24px);
}

.para {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.54px;

  @extend .text-gray-1;

  @media (max-width: 1500px) {
    font-size: 16px;
  }
}

.text {
  color: #1c2630;
  letter-spacing: -2.1px;

  &-1 {
    font-size: clamp(30px, 4vw, 70px);

    @media (max-width: 1500px) {
      font-size: clamp(30px, 4vw, 40px);
    }
  }

  &-2 {
    font-size: clamp(28px, 4vw, 66px);

    @media (max-width: 1500px) {
      font-size: clamp(28px, 4vw, 40px);
    }
  }

  &-3 {
    font-size: clamp(27px, 4vw, 56px);

    @media (max-width: 1500px) {
      font-size: clamp(27px, 4vw, 40px);
    }
  }

  &-4 {
    font-size: clamp(25px, 4vw, 40px);

    @media (max-width: 1500px) {
      font-size: clamp(25px, 4vw, 35px);
    }
  }
}
