$gray-1: #4f4f4f;
$gray-2: #626262;
$primary-100: #4990e2;

$black-1: #1c2630;
$primary-light: #ecf5ff;

.text-black-1 {
  color: $black-1;
}

.text-gray-1 {
  color: $gray-1;
}

.text-gray-2 {
  color: $gray-2;
}

.text-primary-100 {
  color: $primary-100;
}

.text-primary-light {
  color: $primary-light;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-primary-100 {
  background: $primary-100;
}