@import 'bootstrap/scss/bootstrap.scss';
@import './bootstrap.scss';

@import './variable';
@import './typography';
@import './max-width';

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Inter Variable', sans-serif;
}

.rapid-payment-slider {
  .slick-list {
    padding-bottom: 30px;
  }
}

input,
textarea {

  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
  }
}

button {
  border-radius: 7px !important;
}

.form-control {
  @extend .py-3;

  @media (max-width: 1400px) {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

div[role='dialog'] {
  padding-left: 0px !important;
}

.react-multi-carousel-track {
  width: 100% !important;
}

.wrapper {
  position: relative;
  overflow-x: auto !important;

  &>* {
    position: relative;
    z-index: 100;
  }

  &::before {
    position: absolute;
    bottom: 50px;
    z-index: -1;
    background: url('/images/icons/vector-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 811.8px;
    height: 876.066px;
    content: '';

    @media (max-width: 992px) {
      width: 0px !important;
    }
  }

  @media (max-width: 760px) {
    overflow-x: hidden !important;

    &::before {
      display: none;
      width: 0px !important;
    }
  }
}

.rapid-payment-slider {
  .slick-slide {
    height: 100%;

    &>div {
      height: 100%;
    }
  }
}

.offcanvas {
  width: 100% !important;
}

.basic-navbar-nav {
  @media (max-width: 1000px) {
    display: none !important;
  }
}

.listGroupContainer {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
}

// When the container is active/open, add a class that sets max-height to a value that fits your content
.listGroupWrapper {
  min-height: 100px; // set according to your design needs
  overflow: hidden;
}

// service section button css
.service-sct {
  .btn-outline-feature {
    &:hover {
      background: #3c88e0;
      color: #fff !important;

      path {
        fill: #fff;
      }
    }

    path {
      fill: gray;
    }
  }
}

// footer labael css
.footer-lbl {
  color: white;
  font-size: 20px;
}

.copyright {
  h3 {
    font-size: 14px !important;
  }

  h6 {
    font-size: 14px !important;
  }
}

// .text-primary-standard {
//   color: #000 !important;
// }

.content-page-heading {
  position: relative;
  width: fit-content;

  &::after {
    position: absolute;
    bottom: -3px;
    left: 0px;
    background-color: #1a2e5b;
    width: 20%;
    height: 3px;
    content: '';
  }
}