@import "bootstrap/scss/bootstrap.scss";
@import "./bootstrap.scss";

@import "./variable";
@import "./typography";


body {
  font-family: 'Inter Variable', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.rapid-payment-slider {
  .slick-list {
    padding-bottom: 30px;
  }
}

input,
textarea {
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
  }
}

button {
  border-radius: 7px !important;
}