.IntegratationOption {
  h2 {
    // font-size: 60px !important;
    text-align: center;


    // @media (max-width:1500px) {
    //   font-size: 48px !important;
    // }
  }
}

.IntegratationOption {
  .firstBox {
    p {
      @media (max-width:1500px) {
        max-width: 70%;
        margin: 0 auto;
      }


    }
  }
}