.serviceCard2 {
    border: 1px solid #1A2E5B;
    padding: 20px;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;




    .serviceIcon {
        width: 70px;
        height: 70px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

}