@import "@/styles/responsive";
@import "rfs/scss";

.mainHero {

  @media (max-width:1920px) {
    max-width: 97%;
    margin   : 0 auto;
    
    
  }

  background-image   : url("/images/hero.png");
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;

  background-color: #f1f7fd;
  border-radius   : 20px;
  position        : relative;
  overflow        : hidden;

  min-height: 85vh;
  height    : 100%;

  &>* {
    position: relative;
    z-index : 10;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 1000px;
  //   height: 1096.873px;
  //   background-image: url("/images/vector.png");

  //   @include respond-to('lg','max'){
  //       width: 0px;
  //   }
  // }


  @media (min-width:1921px) {
    min-height: auto;


    background-image: none;

    .container {
      position: relative;

      padding-top   : 100px;
      padding-bottom: 100px;

      background-image   : url("/images/hero.png");
      background-size    : cover;
      background-position: center;
      background-repeat  : no-repeat;



    }
  }

  @media (max-width:1400px) and (min-width:1200px) {
    padding-top   : 0px !important;
    padding-bottom: 0px !important;
  }

  @media (max-width:1199px) {
    background-image: none;
  }




  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 887px;
  //   height: 80vh;
  //   transform: rotate(-0.552deg);
  //   right: 0px;
  //   top: 0px;
  //   background: url("/images/mobile-image.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;


  //   @include respond-to('xxl','max'){

  //           width: 718px;
  //           // right: -91px;

  //   }




  //   @include respond-to("xl", "max") {
  //     width: 0px;
  //   }
  // }

  @media (max-width:1750px) {
    min-height: auto !important;
    @include padding-top(80px);
    @include padding-bottom(80px);
  }



  @media (max-width:1050px) {
    @include padding-top(10px);
    @include padding-bottom(10px);
  }

}