@import '@/styles/responsive';
@import 'rfs/scss';
@import '@/styles/theme';

.mainHero {
  @media (max-width: 1920px) {
    margin: 0 auto;
    // max-width: 97%;
  }

  position: relative;
  border-radius: 20px;

  background-image: url('/images/hero-banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #fff;
  height: 100%;

  min-height: 85vh;
  overflow: hidden;

  &>* {
    position: relative;
    z-index: 10;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 1000px;
  //   height: 1096.873px;
  //   background-image: url("/images/vector.png");

  //   @include respond-to('lg','max'){
  //       width: 0px;
  //   }
  // }

  @media (min-width: 1921px) {
    background-image: none;
    min-height: auto;

    .container {
      position: relative;

      background-image: url('/images/hero-banner.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  @media (max-width: 1600px) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  @media (max-width: 1199px) {
    background-image: none !important;
  }

  @media (max-width: 1750px) {
    min-height: auto !important;
    @include padding-top(80px);
    @include padding-bottom(80px);
  }

  @media (max-width: 1050px) {
    @include padding-top(10px);
    @include padding-bottom(10px);
  }
}

.heroParagraph {
  @media (max-width: 1480px) {
    font-size: 15px !important;
  }
}

.heroContentSection {
  @media (max-width: 1500px) {
    padding: 10px;
  }
}

// .container {
//   h1 {
//     font-size: clamp(24px, 3vw, 70px) !important;
//   }
// }