.solution { 

    @media (max-width:1920px) {
        max-width: 86%;
        margin: 0 auto;
            
    }

}

.sliderTab { 
    max-width: 493px;
}

.solutinTabButton { 
    @media (max-width:500px) {
        display: none !important;
    }
}

.SolutionContainer { 
    padding-left: 1.5rem;
    
    @media (max-width:1850px) {
        padding-left: 2.3rem;
    }
}

.carouselTab { 
    display: none;

    @media (max-width:500px) {
        display: block !important;
        max-width: 95%;
        margin: 0 auto; 
    }

    @media (max-width:340px) {
        max-width: unset !important;

        li { 
            max-width: calc(100% / 2) !important;
            width: 100% !important;
            button { 
                width: 100% !important;
            }
        }
    }

    @media (max-width: 575px) {
        display: block;
        margin-bottom: 20px;
        
        :global {
            .slick-slide {
                padding: 0 5px;
            }
            
            .slick-track {
                display: flex;
            }
        }
    }
}