.solution { 

    @media (max-width:1920px) {
        max-width: 86%;
        margin: 0 auto;
            
    }

}

.sliderTab { 
    max-width: 493px;
}

.solutinTabButton { 
    @media (max-width:500px) {
        display: none !important;
    }
}

.carouselTab { 
    display: none;

    @media (max-width:500px) {
        display: block !important;
        max-width: 95%;
        margin: 0 auto; 
    }




}