@import 'rfs/scss';
@import '@/styles/theme';

.paymentHeading {
  font-size: 56px;

  @media (max-width: 992px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.subHeading {
  font-weight: 500;
  font-size: 30px;

  @media (max-width: 1500px) {
    font-size: 25px;
  }

  @media (max-width: 767px) {
    font-size: 23px;
  }
}

.paymentParagraph {
  color: var(--blue-15);
  font-size: 18px;
}

.listHeading {
  font-size: 24px;

  @media (max-width: 1500px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.paymentParagraph2 {
  color: var(--blue-14) !important;
  font-size: 24px !important;

  @media (max-width: 1500px) {
    font-size: 20px !important;
  }
}
