@import '@/styles/responsive';

.RapidPayment {
  // max-width: 86%;
  // margin: 0 auto;
  background-color: transparent;

  // @include respond-to('xxl') {
  //     max-width: 90%;
  // }
}

.paymentUniversityCard {
  & > div {
    mix-blend-mode: multiply;
    background: linear-gradient(210deg, #fff -9.83%, #4990e2 773.8%);
  }

  img {
    border-radius: 30px;
    height: 360px;
    object-fit: cover;
  }
}

.badge {
  border-radius: 5px;
  background: #4990e2;
}
