@import 'rfs/scss';
@import '@/styles/theme';

.ProcessingFeeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--sky-blue-10);

  border-radius: 10px;
  background-color: #f9fcff;
  width: 100%;
  height: 100%;

  .processingHeader {
    @include font-size(30px);
  }

  .processingBottom {
    @include font-size(22px);
  }
}
