@import '@/styles/responsive.scss';
@import '@/styles/theme';

.footer {
  background-color: var(--blue-11);

  a {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:not(.socialIcon, .notForHover) {
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}

.border-footer {
  border-top: 1px solid var(--border-light-1);
  border-bottom: 1px solid var(--border-light-1);

  @include respond-to('md', 'max') {
    border-top: 0px !important;
  }
}

.firstBox {
  @media (max-width: 1500px) {}
}

.borderright {
  border-right: 1px solid var(--border-light-1);
}

.footerRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media (max-width: 1390px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;

    &>div {
      &:nth-child(1) {
        border-bottom: 1px solid var(--border-light-1);
      }

      &:nth-child(2) {
        border-bottom: 1px solid var(--border-light-1);
      }

      &:nth-child(3) {
        border-bottom: 1px solid var(--border-light-1);
        // border-right: 0px;
      }
    }
  }

  @media (max-width: 1180px) {
    grid-template-columns: repeat(4, 1fr);

    &>div {
      &:nth-child(3) {
        // border-right: 0px;
      }

      &:nth-child(4) {
        // border-right: 1px solid var(--border-light-1););
        border-right: 0px;
      }

      &:nth-child(5) {
        border-right: 1px solid var(--border-light-1);
      }
    }
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(1, 1fr);

    &>div {
      // &:nth-child(1) {
      border-right: 0px !important;
      // }

      padding-top: 40px !important;
      padding-bottom: 20px !important;
    }
  }

  @media (max-width: 767px) {
    &>div {
      padding-top: 20px !important;
      padding-bottom: 9px !important;
    }
  }

  // @include respond-to('xxl', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox {
  //         flex-basis: calc(100% / 3) !important;
  //     }

  //     &>.thirdBox {
  //         border-bottom: 1px solid var(--border-light-1););
  //     }

  //     &>.lastBox,
  //     &>.secondLast {
  //         max-width: calc(100% / 3) !important;
  //         border-top: 1px solid var(--border-light-1););
  //     }

  //     &>.lastBox {
  //         border-right: 1px solid var(--border-light-1););
  //     }

  // }

  // @include respond-to('lg', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox,
  //     &>.lastBox,
  //     &>.secondLast {
  //         flex-basis: calc(100% / 2) !important;
  //     }

  //     &>.thirdBox {
  //         border-top: 1px solid var(--border-light-1););
  //         border-bottom: 1px solid var(--border-light-1););
  //     }

  //     &>.lastBox,
  //     &>.secondLast {
  //         max-width: unset !important;
  //         border-top: 1px solid var(--border-light-1););
  //     }
  // }

  // @include respond-to('md', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox,
  //     &>.lastBox,
  //     &>.secondLast {
  //         flex-basis: calc(100% / 1) !important;
  //     }

  //     &>div {

  //         &:not(.notInclude) {
  //             border-top: none !important;
  //             border-bottom: none !important;
  //             display: flex !important;
  //             flex-direction: column !important;
  //             justify-content: center !important;
  //             align-items: center !important;

  //             padding-left: 0px !important;
  //             text-align: center !important;

  //             border-right: none !important;
  //             border-top: none !important;
  //         }
  //     }

  // }
}

.icon2 {
  border-radius: 50%;
  background-color: var(--blue-13);
  width: 50px;
  min-width: 50px;
  height: 50px;
}

.accordianContent {
  @media (max-width: 992px) {
    transition: all 0.3s ease-in-out;
    max-height: 0px;
    overflow: hidden;

    &.active {
      max-height: 500px;
      /* Adjust this value to suit your content */
    }
  }

  li {
    list-style-type: none;
  }
}

.footerAccordian {
  @media (min-width: 992px) {
    .accordianIcon {
      display: none;
    }
  }
}

.accordianIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  width: 30px;
  height: 30px;

  @media (max-width: 992px) {
    svg {
      width: 8px;
    }
  }
}

.footerBottomText {
  color: #fff !important;
  font-size: clamp(16px, 4vw, 18px);

  @media (max-width: 1500px) {
    font-size: clamp(16px, 4vw, 18px);
  }
}

.footerLink {
  font-size: clamp(13px, 4vw, 14px);
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--blue-14);
  border-radius: 50%;
  background-color: white;
  width: 35px;
  height: 35px;

  &:hover {
    border: 1px solid #fff;
    background-color: var(--blue-14);

    svg {
      color: white !important;
    }
  }
}

.socialIcon {
  h2 {
    color: white;
    font-size: 20px;
  }
}

.icon3 {
  width: 50px;
  height: 50px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1440px) {
    width: 40px;
    height: 40px;
  }
}