@import '@/styles/responsive.scss';

.footer {
  background-color: #1A2E5B;
}

.border-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  @include respond-to('md', 'max') {
    border-top: 0px !important;
  }
}

.firstBox {
  @media (max-width: 1500px) {}
}

.borderright {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footerRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  @media (max-width: 1390px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;

    &>div {
      &:nth-child(1) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      &:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      &:nth-child(3) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        // border-right: 0px;
      }
    }
  }

  @media (max-width: 1180px) {
    grid-template-columns: repeat(4, 1fr);

    &>div {
      &:nth-child(3) {
        // border-right: 0px;
      }

      &:nth-child(4) {
        // border-right: 1px solid rgba(255, 255, 255, 0.30);
        border-right: 0px;
      }

      &:nth-child(5) {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(1, 1fr);

    &>div {
      // &:nth-child(1) {
      border-right: 0px !important;
      // }

      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
  }

  @media (max-width: 767px) {
    &>div {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }

  // @include respond-to('xxl', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox {
  //         flex-basis: calc(100% / 3) !important;
  //     }

  //     &>.thirdBox {
  //         border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  //     }

  //     &>.lastBox,
  //     &>.secondLast {
  //         max-width: calc(100% / 3) !important;
  //         border-top: 1px solid rgba(255, 255, 255, 0.30);
  //     }

  //     &>.lastBox {
  //         border-right: 1px solid rgba(255, 255, 255, 0.30);
  //     }

  // }

  // @include respond-to('lg', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox,
  //     &>.lastBox,
  //     &>.secondLast {
  //         flex-basis: calc(100% / 2) !important;
  //     }

  //     &>.thirdBox {
  //         border-top: 1px solid rgba(255, 255, 255, 0.30);
  //         border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  //     }

  //     &>.lastBox,
  //     &>.secondLast {
  //         max-width: unset !important;
  //         border-top: 1px solid rgba(255, 255, 255, 0.30);
  //     }
  // }

  // @include respond-to('md', 'max') {

  //     &>.firstBox,
  //     &>.secondBox,
  //     &>.thirdBox,
  //     &>.lastBox,
  //     &>.secondLast {
  //         flex-basis: calc(100% / 1) !important;
  //     }

  //     &>div {

  //         &:not(.notInclude) {
  //             border-top: none !important;
  //             border-bottom: none !important;
  //             display: flex !important;
  //             flex-direction: column !important;
  //             justify-content: center !important;
  //             align-items: center !important;

  //             padding-left: 0px !important;
  //             text-align: center !important;

  //             border-right: none !important;
  //             border-top: none !important;
  //         }
  //     }

  // }
}

.icon {
  border-radius: 50%;
  background-color: #2c353f;
  width: 50px;
  min-width: 50px;
  height: 50px;
}

.accordianContent {
  @media (max-width: 992px) {
    transition: all 0.3s ease-in-out;
    max-height: 0px;
    overflow: hidden;

    &.active {
      max-height: 500px;
      /* Adjust this value to suit your content */
    }
  }

  li {
    list-style-type: none;
  }
}

.footerAccordian {
  @media (min-width: 992px) {
    .accordianIcon {
      display: none;
    }
  }
}

.accordianIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  width: 30px;
  height: 30px;

  @media (max-width: 992px) {
    svg {
      width: 8px;
    }
  }
}

.footerBottomText {
  font-size: clamp(16px, 4vw, 18px);
  color: #fff !important;

  @media (max-width: 1500px) {
    font-size: clamp(16px, 4vw, 18px);
  }
}

.footerLink {
  font-size: clamp(14px, 4vw, 16px);
}


.iconBox {
  width: 35px;
  height: 35px;
  border: 1px solid #1c2630;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #1c2630;
    border: 1px solid #fff;

    svg {
      color: white !important;
    }
  }


}

.socialIcon {
  h2 {
    color: white;
    font-size: 20px;
  }
}