@import '@/styles/responsive.scss';

.ServiceCard {
  transition: background 0.4s ease-in-out;
  border: 1px solid transparent;
  background: #4990e2;

  h5 {
    color: white;
    font-size: 26px;
  }

  p {
    color: white;
    font-size: 18px;
  }

  &:hover {
    border: 1px solid #4990e2;
    background: transparent;

    h5 {
      color: #4990e2;
    }

    p {
      color: #4990e2;
    }

    svg {
      path {
        fill: #4990e2;
      }
    }
  }

  @include respond-to('xxl', 'max') {
    padding: 16px !important;

    h5 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (max-width: 1199px) {
    background-image: none !important;
  }
}
