@import '@/styles/responsive.scss';

.ServiceCard {
  transition: background 0.4s ease-in-out;
  border: 1px solid transparent;
  background: #4990e2;
  padding: 16px !important;

  background-color: #F1F8FF !important; // Use 




  &.first,
  &.third {
    background-color: #FFEFF2 !important; // Use 
  }

  h5 {
    color: white;
    font-size: 26px;
  }

  p {
    color: #1E1E1E;
    font-weight: 300;
    font-size: 18px;
  }

  @include respond-to('xxl', 'max') {
    h5 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }

  @media (max-width: 1199px) {
    background-image: none !important;
  }
}